{% extends 'index/base.html' %}

{% block content %}
	{% if useremail %}
		{{ useremail }}
	{% endif %}
	
	<div class="deg-regform">
		<form action="." method="post">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				<div class="form-group">
					<label for="" class="col-sm-2">{{field.label}}</label>
					<div class="col-sm-10">{{field}}</div>
				</div>
			{% endfor %}
			<input type="submit" value="Login"/>
		</form>
	</div>
	<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
	
{% endblock %}